.quote-container {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 300px;
    height: 100px;
    background-color: rgba(158, 157, 157, 0.637);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.quote-popup h4 {
    margin: 0 2px 10px;
    font-size: 14px;
    color: #000000;
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 10px;
    padding: 4px;
}

.quote-popup blockquote {
    font-style: italic;
    color: #000000;
    padding-left: 10px;
    border-left: 3px solid #007bff;
    margin: 10px 0;
    font-weight: 600;
    text-align: center;
}