* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    height: 120px;

}

.left, .logo, .right {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
}

.left {
    justify-content: left;
}

.right {
    justify-content: right;
}

.nav-bar {
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

li {
    list-style: none;
}

.container {
    display: flex;
    flex: 1;
    margin-top: 160px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.timer {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 50px;
    border: 1px solid black;
    height: fit-content;
}

.timer h1 {
    font-size: 80px;
}

.dragon {
    margin-top: 160px;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.menu {
    display: flex;
    width: 20%;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ldm {
    position: absolute;
    right: 0;
}
