.stickyNotes-popup {
    position: fixed;
    top: 25%;
    left: 15%;
    width: 320px;
    max-height: 500px;
    background-color: #e4c74a;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow-y: auto;
    background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
    background-size: cover;
}

.stickyNotes-popup h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
    color: #333;
}

.note-input {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.note-input textarea {
    border-radius: 5px;
    padding: 4px;
}

.add-btn {
    padding: 8px 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.note-list {
    list-style: none;
    padding: 0;
}

.note-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff4cc;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-item.completed span {
    text-decoration: line-through;
    color: black;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 18px;
    cursor: pointer;
}

.stickyNotes-popup::-webkit-scrollbar {
    width: 8px;
}

.stickyNotes-popup::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.stickyNotes-popup::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}
