

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.wrapper {
    background-color: white;

    transition: background-color 0.2s linear;
}

.a {
    display: none;
}

.btn:hover {
    background-color: #dadada5d;
}

.btn {
    width: 48px;
    height: 48px;
    border: solid 1px transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: transparent;
    position: relative;
    transition: background-color 0.15s ease-in-out;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    position: relative; 
    overflow: hidden;
}

.wrapper .background {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/zen-lbg.PNG'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease; 
    opacity: 1; 
}

.wrapper.dark-mode .background {
    opacity: 0; 
}

.wrapper .background-dark {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/zen-dbg.PNG'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease; 
    opacity: 0; 
}

.wrapper.dark-mode .background-dark {
    opacity: 1; 
}


nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.nav {
    display: flex;
    height: 100%;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    background-image: url('../assets/logo.PNG');
    background-size: contain;
    rotate: -90deg;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.timer-interface {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    position: absolute;
}

.progress-circle {
    position: absolute;
    /* top: 10px; */
    margin: 0 auto;
    /* margin-top: -50px; */
    margin-bottom: 120px;
}

.timer {
    border-radius: 200px;
    width: 350px;
    height: 350px;
    background-color: rgba(200, 173, 230, 0.548);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    z-index: 5;
    margin-bottom: 70px;
}

.timer h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

.start-stop-button {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    /* background-color: rgb(160, 76, 255); */
    /* box-shadow: 0 7px 0px rgb(120, 57, 192); */
}

.reset-button {
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    background-color: rgba(128, 60, 206, 0.233);
    width: 100px;
    box-shadow: 0 7px 0px rgba(128, 60, 206, 0.5);
}

.button {
    padding: 10px;
    cursor: pointer;
    border: none;
    transition: background-color 0.1s ease, box-shadow 0.1s ease;
    transform: translateY(0);
    user-select: none;
}
/*rgb(228, 228, 228)*/
.button:active {
    transform: translateY(5px);
    box-shadow: 0 2px 0px inherit;
}

.timer-modes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-modes button {

    width: 120px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(241, 184, 255);
    box-shadow: 0 7px 0px rgb(169, 129, 179);
}

.timer-modes button:not(:last-child) {
    margin-right: 10px;
}

.timer-modes button.active {
    background-color: rgb(141, 82, 209);
    box-shadow: 0 7px 0px rgba(128, 60, 206);
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    /* z-index: 1; */
}

.toggle {
    display: flex;
    align-items: center;
    /* background-color: rgb(241, 184, 255); */
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 60px;
    height: fit-content;
    z-index: 10;
}

.toggle label {
    margin: 0px 15px 0px 15px;
}

.toggle-zen-mode {
    margin-left: 200px;
}

.toggle-ld-mode {
    margin-right: 200px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 29px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(48, 48, 48);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider:before {
    transform: translateX(13px);
}