@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
    --blue: rgb(0, 157, 255);
    --blue-shadow: rgb(0, 122, 197);
    --green: rgb(0, 194, 129);
    --green-shadow: rgb(0, 145, 96);
    --purple: rgb(139, 108, 239);
    --purple-shadow: rgb(114, 79, 230);
}

* {
    margin: 0;
    padding: 0;
}

a, span, h1, button {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: inherit;
}

.wrapper {
    background-color: white;
    transition: background-color 0.2s linear;
}

.wrapper.dm {
    background-color: #292c35;
}

.wrapper.dm .logo {
    color: white;
}

.wrapper.dm .timer {
    background-color: #2e3036;
    color: white;
}

.wrapper.dm .timer button {
    color: white;
}

.a {
    display: none;
}

.btn:hover {
    background-color: #dadada5d;
}


.btn {
    width: 48px;
    height: 48px;
    border: solid 1px transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: transparent;
    position: relative;
    transition: background-color 0.15s ease-in-out;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: rgb(246, 225, 255);
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    height: 150px;

}

.left,
.logo,
.right {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
}

.left {
    justify-content: left;
}

.right {
    justify-content: right;
}

.logo {
    font-size: 30px;
}

.nav-bar {
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 250px;
    background-color: lightgrey;
    padding: 10px 15px;
    margin-right: 40px;
    border-radius: 10px;
    align-items: center;
}

li {
    list-style: none;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.dragon {
    margin-top: 160px;
    
}


.menu {
    display: flex;
    width: 20%;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: lightgrey;
    height: fit-content;
    padding: 10px 15px;
    border-radius: 10px;
}

.timer-container {
    display: flex;
    align-items: center;
    position: relative;
}

.timer {
    border-radius: 200px;
    width: 300px;
    height: 300px;
    margin-right: 100px;
    background-color: rgba(200, 173, 230, 0.548);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    z-index: 5;
}

.timer-modes {
    display: flex;
    flex-direction: column;
}

.timer h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

.timer-modes button.active {
    background-color: rgb(141, 82, 209);
}

.start-stop-button {
    background-color: var(--purple);
    border-radius: 10px;
    width: 100%;
    padding: 12px 0px;
    color: black;
    box-shadow: 0 7px 0px var(--purple-shadow);
}

.start-stop-button:active {
    box-shadow: 0 2px 0px var(--purple-shadow);
}

.reset-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.timer-modes {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.timer-modes button {
    flex: 1;
    padding: 10px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(241, 184, 255);
}

.timer-modes button:not(:last-child) {
    margin-right: 10px;
}


.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

.toggle {
    display: flex;
    align-items: center;
    background-color: rgb(241, 184, 255);
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 60px;
    height: fit-content;
}

.toggle label {
    margin: 0px 15px 0px 15px;
}

.toggle-zen-mode {
    margin-left: 200px;
}

.toggle-ld-mode {
    margin-right: 200px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 29px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(48, 48, 48);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider:before {
    transform: translateX(13px);
}

.timer-progress {
    position: absolute;
    rotate: -90deg;
    left: -78px;
}

.timer-progress-outline {
    stroke: #e0e0e0;
    fill: none;
    stroke-width: 20;
}

.timer-progress-bar {
    stroke: rgb(141, 82, 209);
    fill: none;
    stroke-width: 20;
    transition: stroke-dashoffset 0.5s ease;
}

.timer-progress-text {
    rotate: 90deg;
    z-index: 10;
    position: relative;
    top: -26px;
    left: 115px;
    font-weight: 600;
    font-size: 20px;
}

.button {
    border: none;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    transform: translateY(0);
    box-shadow: 0 7px 0px inherit;
    user-select: none;
}

/*rgb(228, 228, 228)*/

.button:active {
    transform: translateY(5px);
    box-shadow: 0 2px 0px inherit;
}

