* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: white;

    transition: background-color 0.2s linear;
}

.wrapper.dm {
    background-color: #292c35;
}

.wrapper.dm .logo {
    color: white;
}

.wrapper.dm .timer {
    background-color: #2e3036;
    color: white;
}

.wrapper.dm .timer button {
    color: white;
}

.a {
    display: none;
}

.btn:hover {
    background-color: #dadada5d;
}


.btn {

    width: 48px;
    height: 48px;
    border: solid 1px transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: transparent;
    position: relative;
    transition: background-color 0.15s ease-in-out;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: rgb(246, 225, 255);
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    height: 120px;

}

.left, .logo, .right {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
}

.left {
    justify-content: left;
}

.right {
    justify-content: right;
}

.logo {
    font-size: 30px;
}

.nav-bar {
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 250px;
    background-color: lightgrey;
    padding: 10px 15px;
    margin-right: 40px;
    border-radius: 10px;
    align-items: center;
}

li {
    list-style: none;
}

.container {
    display: flex;
    flex: 1;
    margin-top: 160px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}


.dragon {
    margin-top: 160px;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.menu {
    display: flex;
    width: 20%;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: lightgrey;
    height: fit-content;
    padding: 10px 15px;
    border-radius: 10px;
}

.ldm {
    position: absolute;
    right: 0;
}

.timer {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 50px;
    border: 1px solid black;
    height: fit-content;
    width: 300px;
    background-color: rgba(200, 173, 230, 0.548);
}

.timer h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

.timer-modes button.active {
    background-color: rgb(141, 82, 209);
}

.start-stop-button {
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(160, 76, 255);
}

.reset-button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    background-color: rgba(128, 60, 206, 0.233);
}

.timer-modes {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.timer-modes button {
    flex: 1;
    padding: 10px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(160, 76, 255);
}

.timer-modes button:not(:last-child) {
    margin-right: 10px;
}


