@import '../App.css';

.wrapper.dark-mode .background {
    opacity: 0;
}

.wrapper.dark-mode .background-dark {
    opacity: 1;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.wrapper {
    background-color: white;
    transition: background-color 0.2s linear;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--light-background);
    opacity: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease;
}

.background-dark {
    background-image: var(--dark-background);
    opacity: 0;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.nav {
    display: flex;
    height: 100%;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    background-image: url('../assets/logo.PNG');
    background-size: contain;
    rotate: -90deg;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    /* z-index: 1; */
}