@import '../styles/App.css';

.wrapper.dark-mode .background {
    opacity: 0;
}

.wrapper.dark-mode .background-dark {
    opacity: 1;
}

.wrapper.dark-mode .time {
    color: rgba(255, 255, 255, 0.637);
}

.wrapper {
    background-color: white;
    transition: background-color 0.2s linear;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.right-sidebar {
    position: fixed;
    top: 80px;
    right: 0;
    padding-top: 55px;
    padding-left: 55px;
    width: 450px; 
    height: 100%; 
    overflow-y: auto; 
    z-index: 100; 
    margin-right: 10px;
  }
  

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--light-background);
    opacity: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease;
}

.background-dark {
    background-image: var(--dark-background);
    opacity: 0;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 180px;
}

.nav {
    display: flex;
    height: 100%;
    width: 60%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    display: flex;
    background-image: url('../assets/logo.PNG');
    background-size: contain;
    rotate: -90deg;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.time {
    z-index: 100;
    font-weight: 800;
    color: rgba(5, 5, 5, 0.637);
    font-size: 20px;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 80px;
    padding-left: 60px;
}