.nav-bar {
    position: fixed;
    top: 25px;
    right: 90px;
    display: flex;
    gap: 12px;
    background-color: rgba(158, 157, 157, 0.637);
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.icon-button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.icon-topbar {
    width: 80%;
    height: 80%;
}

.icon-button:hover {
    transform: scale(1.1);
    background-color: #e0e0e0;
}

.icon-button img {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .nav-bar {
        top: 5px;
        right: 5px;
        padding: 5px;
    }

    .icon-button {
        width: 30px;
        height: 30px;
    }

    .icon-button img {
        width: 20px;
        height: 20px;
    }
}