.menu-bar {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 12px;
    background-color: rgba(158, 157, 157, 0.637);
    padding: 8px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  .icon-button {
    background-color: #f0f0f0; 
    border: none;
    border-radius: 50%; 
    width: 40px; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
  }
  
  .icon-topbar{
    width: 80%;
    height: 80%;
  }
  
  .icon-button:hover {
    transform: scale(1.1); 
    background-color: #e0e0e0; 
  }
  
  .icon-button img {
    width: 24px; 
    height: 24px;
  }
  @media (max-width: 768px) {
    .top-right-bar {
      top: 5px;
      right: 5px;
      padding: 5px;
    }
  
    .icon-button {
      width: 30px;
      height: 30px;
    }
  
    .icon-button img {
      width: 20px;
      height: 20px;
    }
  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dim background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
  }
  
  .popup-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .close-button {
    background-color: #e0e0e0;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s ease;
  }
  
  .close-button:hover {
    background-color: #d0d0d0;
  }
  