.toggle {
    display: flex;
    align-items: center;
    /* background-color: rgb(241, 184, 255); */
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 60px;
    height: fit-content;
    z-index: 10;
}

.toggle label {
    margin: 0px 15px 0px 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 29px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(48, 48, 48);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider:before {
    transform: translateX(13px);
}