.todo-popup {
    position: fixed;
    top: 25%;
    left: 15%;
    width: 350px;
    background-color: rgba(158, 157, 157, 0.637);
    border: 3px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1000;
	align-items: center;
	padding: 15px;
}

.todo-header {
    display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
}

.todo-header h2 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 4px;
	width: 100%;
}

.btn {
    background-color: #ffffff;
    color: #4a90e2;
    border: 1px solid #4a90e2;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.todo-content {
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.todo-content input {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgba(194, 192, 192, 0.918);
    color: black;
    height: 30px;
	padding-left: 20px;
	width: 100%;
}

.todo-content input::placeholder {
	padding-left: 12px;
	color: black;
	font-weight: 600;
	cursor: text;
}

.todo-content button {
    background-color: #1e7ce7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
	width: 100%;
}

.todo-content button:hover {
    opacity: 0.8;
}

.pomodoro-info {
    font-size: 0.9rem;
    color: #4a90e2;
    margin-bottom: 10px;
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 300px;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e0e0e0;
    border-radius: 15px;
    margin-bottom: 8px;
    padding: 10px 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.task-item:hover {
    background-color: #d0d0d0; /* Slightly darker background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.task-item.completed {
    background-color: #c8e6c9; /* Greenish background for completed tasks */
    text-decoration: line-through;
    color: #666;
}

.task-item input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.task-item span {
    flex-grow: 1;
    padding: 0 10px;
}

.delete-btn {
    background-color: transparent;
    border: none;
    color: #ff0000;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
}

.delete-btn:hover {
    color: #d10000;
    transform: scale(1.1);
}