@import '../../styles/App.css';

.wrapper.dark-mode .filled-area {
    stroke: rgb(141, 82, 209);
}

.wrapper.dark-mode .start-stop-button,
.wrapper.dark-mode .reset-button, 
.wrapper.dark-mode .timer-modes button.active {
    background-color: var(--dark-button-bg);
    box-shadow: var(--dark-button-shadow);
}

.wrapper.dark-mode .start-stop-button:active,
.wrapper.dark-mode .reset-button:active, 
.wrapper.dark-mode .timer-modes button.active:active {
    box-shadow: var(--dark-pressed-button-shadow);
}

.wrapper.dark-mode .timer-modes button:not(.active) {
    background-color: var(--dark-inactive-button-bg);
    box-shadow: var(--dark-inactive-button-shadow);
}

.wrapper.dark-mode .timer-modes button:not(.active):active {
    box-shadow: var(--dark-inactive-pressed-button-shadow);
}

.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.timer-interface {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    position: absolute;
}

.progress-circle {
    position: absolute;
    margin: 0 auto;
    margin-bottom: 120px;
    rotate: -90deg;
    display: flex;
}

.progress-circle svg {
    width: 500px;
    height: 500px;
}

.container-area {
    stroke: transparent;
    fill: none;
}

.filled-area {
    stroke: rgb(105, 219, 77);
    fill: none;
    transition: stroke-dashoffset 0.5s ease, stroke 0.2s ease;
    stroke-linecap: round;
}

.timer {
    border-radius: 250px;
    width: 400px;
    height: 400px;
    background-color: rgba(200, 173, 230, 0.548);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    z-index: 5;
    margin-bottom: 70px;
}

.timer h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

.button {
    padding: 10px;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
    transform: translateY(0);
    user-select: none;
}

.button:active {
    transform: translateY(5px);
}

.start-stop-button,
.reset-button,
.timer-modes button.active {
    background-color: var(--light-button-bg);
    box-shadow: var(--light-button-shadow);
}

.start-stop-button:active,
.reset-button:active,
.timer-modes button.active:active {
    box-shadow: var(--light-pressed-button-shadow);
}

.start-stop-button {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
}

.reset-button {
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    width: 100px;
}

.timer-modes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-modes button {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--light-inactive-button-bg);
    box-shadow: var(--light-inactive-button-shadow);
}

.timer-modes button:not(.active) {
    background-color: var(--light-inactive-button-bg);
    box-shadow: var(--light-inactive-button-shadow);
}

.timer-modes button:active:not(.active) {
    box-shadow: var(--light-inactive-pressed-button-shadow);
}

.timer-modes button:not(:last-child) {
    margin-right: 10px;
}